.no-margin {
	margin: 0;
}
.dark {
	color: #fff;
	background-color: #333;
}
body {
	background-color: #eee;
}
a {
	text-decoration: none  !important;
}
.fltlf {
	float: left;
}
.card {
	float: left;
	margin-right: 10px;
}
.thumb {
	background-color: #d0d0d0;
	border-color: #bbb #bbb #d02929;
    border-bottom-width: 5px;
	padding-bottom: 0;
}
.thumb:hover {
	background-color: #bbb;
	border-bottom-color: #ff2929;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-toggle:hover {
	background-color: #ef0000;
}
.navbar-default .navbar-toggle:focus {
	background-color: #a50000;
}
.pad-bot {
	padding-bottom: 10px;
}
.pad-all {
	padding: 10px;
}
.pad-but {
	margin-top: 10px;
    margin-bottom: 10px;
}
.lgray-back {
	background-color: #d0d0d0
}
	
@media (min-width: 768px) and (max-width: 991px) {
	.no-right-sm {
		padding-right: 0;
	}
}
@media (min-width: 768px) {
	.pull-right-sm {
		padding-left: 10px;
		padding-bottom: 10px;
		float: right;
	}
}
@media (max-width: 767px) {
	.pull-right-sm {
		padding-bottom: 10px;
	}
}
